<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Error 404 - The page you are looking does not exist</h1>
    </div>

    <hr />
    <a class="btn btn-success" asp-controller="Movies" asp-action="Index">Home Page</a>
</div>
